:root{
    --bg-color: #16161e;
    --secondary-color: #2196f3;
    --text-color: #eeeeee;
    --borde: #393e46;
    --sise: 30px;
    --espacio: 20px;
    --btn-sise: 1.2em;
    --border-radius: 10px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg-color);
}

h1, h2, h3, h4, h5, span, label, p, a{
    color: var(--text-color);
}

h1 span, h2, h3, h4{
    color: var(--secondary-color);
}

h1{
    font-size: 35px;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 25px;
}

h4{
    font-size: 20px;
}

h2, h3, h4{
    padding: var(--espacio) 0;
}

p{
    font-size: 20px;
    text-align: left;
    line-height: 40px;
}

p span{
    color: var(--secondary-color);
    font-weight: bold;
}

img{
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}

section{
    width: 95%;
    min-height: 25vh;
    margin: 0 auto;
}

.header{
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
}

.nav{
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    gap: var(--espacio);
    height: 0;
    width: 0;
    overflow: hidden;
    margin: var(--espacio)
}

.mostrar-nav{
    height: auto;
    width: auto;
}

.btn{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--borde);
    text-decoration: none;
    font-size: var(--btn-sise);
    border-radius: var(--border-radius);
    transition: border 0.3s linear;
}

.btn-nav{
    color: var(--secondary-color);
}

.btn:hover{
    border: 2px solid var(--secondary-color);
}

.btn-menu{
    background-color: var(--bg-color);
    margin-top: var(--espacio);
    margin-right: var(--espacio);
    width: 50px;
    height: 50px;
}

.inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.logo{
    display: none;
}

.box-inicio{
    display: flex;
    gap: var(--espacio)
}

.social-box{
    display: flex;
    justify-content: center;
    margin-top: var(--espacio);
}

.social{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-social{
    border: 2px solid var(--borde);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border 0.3s linear;
}

.btn-cv{
    width: 150px;
    height: 40px;
}

.btn-social:hover{
    border: 2px solid var(--secondary-color);
}

.icon-social, .icon-menu{
    color: var(--secondary-color);
}

.icon-social{
    font-size: 25px;
}

.icon-menu{
    font-size: 40px;
}

.box-tecnologia{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 50px var(--espacio)
}

.card{
    height: 100px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 50px;
}

.img-tecnologia{
    overflow: hidden;
}

.titulo-tecnologia{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-proyecto{
    border: 2px solid var(--secondary-color);
    margin-bottom: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
}

.card-header{
    height: 500px;
    overflow: hidden;
}

.card-footer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

@media screen and (min-width: 850px){
    h1{
        font-size: 50px;
    }

    h2{
        font-size: 40px;
    }
    
    h3{
        font-size: 30px;
    }
    
    h4{
        font-size: 28px;
    }

    p{
        text-align: justify;
    }

    section{
        width: 60%;
        min-height: 100vh;
    }

    .btn.btn-menu{
        display: none;
    }

    .header{
        padding-right: var(--espacio);
        flex-direction: row;
        justify-content: flex-end;
    }

    .nav{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: var(--espacio);
        margin: 0;
        margin-top: var(--espacio);
        margin-right: var(--espacio);
        height: auto;
        width: auto;
        transition: all 0.2s;
    }

    .btn{
        height: 50px;
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid var(--borde);
        text-decoration: none;
        font-size: var(--btn-sise);
        border-radius: var(--border-radius);
        transition: border 0.3s linear;
    }

    .btn-social{
        width: 50px;
        height: 50px;
    }

    .logo{
        display: block;
        font-size: 100px;
        color: var(--secondary-color);
    }

    .card-footer{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .img-proyecto{
        object-fit: cover;
        object-position: top;
    }
}